/* A Free Design by Bryant Smith (bryantsmith.com) */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font: 12px Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #061C37;
	background: #EEEFE4;
	background-image:url(images/background.png);
	background-repeat:repeat-x;
}
*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#container
{
  display: block; 
  height:auto;
  position: relative; 
  width: 940px;
}

#mainpic h1
{
position:absolute;
text-align:right;
color:#F8FDEE;
font-size:30px;
color:#FFF;	
left:60px;
top:20px;
}


#mainpic h2
{
position:absolute;
text-align:right;
color:#E1E7F7;	
left:60px;
top:50px;
}

#mainpic h3
{
font-size: 40px;
position:absolute;
text-align:right;
color:#E1E7F7;	
right:60px;
top:20px;
background-colorblack;
}

#mainpic
{
background-image:url(images/main.jpg);
background-repeat:no-repeat;
width:900px;
height:350px;	
}



.off
{
color:#E43553;
	
}




#menu
{
background-image:url(images/menu.png);
background-repeat:no-repeat;
width:940px;
height:69px;
float:center;
clear:both;
}

#content
{
width:880px;
height:auto;
background-color:#FFF;
padding-left:10px;
padding-right:10px;
padding-bottom:5px;
}

#wrapper
{
background-color: #ADD8E6;
width:600px;
height:440px;
border-style: solid;
border-width: 2px;
}
#wrapper h2
{
text-align: center;
border-bottom: double;
width:600px;
padding-bottom:5px;
}

#wrapper p
{
width:300px;
}

.form-group
{
width:200px;


}

#scrollbox
{
width:600px;
height:440px;
border-style: solid;
border-width: 2px;
overflow:auto;
}

#footer
{
width:inherit;
height:auto;
}

#footer h3 a,#footer h3 a:visited
{
display:inline;
text-align:center;
font-size:12px;
text-decoration:none;
color:#7198E1;
}


#menu ul {
	list-style: none;
	padding: 0px;
	margin-left: auto;
	width:900px;
}

#menu li {
	list-style: none;
	padding: 0px;	
	display: inline; 
	
}

#menu a {
	float: left;
	width: 150px;
	height: 40px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-weight: bold;
	padding-top: 17px;
	font-size: 15px;
}

#menu a:hover{
	color:#BEE399;
}

img.a {
  width: 288px; 
  height: 350px; 
  float: right; 
  margin: 0px 0px 15px 15px; 
  background-color: #FFFDD0;
  bject-fit: fill;
}

html, body {
text-align: center;
}

p {text-align: left;}
